.colorful-bg{
    background-image: url('https://i.ibb.co/4R86n9H/confetti-and-colorful-ribbons-celebration-background-template-vector-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}