.banner-bg{
    background-image: url('https://i.ibb.co/jyyYxFd/colorful-set-balloons-purple-background-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}